<div id="<%= dom_id transfermarkt %>">
  <p>
    <strong>Description:</strong>
    <%= transfermarkt.description %>
  </p>

  <p>
    <strong>Crypto:</strong>
    <%= transfermarkt.crypto %>
  </p>

  <p>
    <strong>Timezone:</strong>
    <%= transfermarkt.timezone %>
  </p>

</div>
