<h1>Editing transfermarkt</h1>

<%= render "form", transfermarkt: @transfermarkt %>

<br>

<div>
  <%= link_to "Show this transfermarkt", @transfermarkt %> |
  <%= link_to "Back to transfermarkts", transfermarkts_path %>
</div>
